{% extends 'base.html' %}

{% block head %}

<title>Task Master</title>

{% endblock %}

{% block body %}

<div class="container">
    <h1>Update Task</h1>

    <form action="/update/{{task.id}}"method="POST" class="d-flex flex-column align-content-center justify-content-center">
        <div class="form-group">
            <label for="content"><strong>Task Content</strong></label>
            <input type="text" class="form-control" name="content" id="content" value="{{task.content}}">
        </div>
        <div class="form-group d-flex flex-row justify-content-center">
            <button type="submit" class="btn btn-primary mt-2 w-25">Update Task</button>
        </div>
    </form>

</div>


{% endblock %}